.carousel_btn {
  width: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  cursor: pointer;
  transition: var(--primary-trans);
  
  &.right {
    transform: rotate(180deg);
  }
}