.main_container {
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    align-items: center;
    margin: 2.4rem 6rem 0.2rem;
    
    h3 {
      color: white;
      font-size: 2.2rem;
      line-height: 2.8rem;
      font-weight: 500;
      opacity: .9;
    }

    svg {
      opacity: 0;
      margin-top: 0.2rem;
      margin-left: 0.4rem;
      transition: var(--small-trans);
    }
  }

  /* .window {
    position: relative;
    overflow-x: hidden;

    
    .all_pages_container {
      position: relative;
      display: flex;
      padding: 1.6rem 0;
      transition: var(--carousel-trans);
  
      
  } */

  .scroll_container {
    position: relative;
    --item-width: calc((100% - 12rem - .8rem * (var(--item-size) - 1)) / var(--item-size));

    [class ~= 'react-horizontal-scrolling-menu--item'] {
      min-width: var(--item-width);
    }

    [class ~= 'react-horizontal-scrolling-menu--separator'] {
      margin-left: .8rem;
    }

    .item {
      position: relative;
      cursor: pointer;
  
      div {
        position: relative;
        padding-bottom: 56.25%;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
    }
  
    &::before,
    &::after {
      content: "";
      min-width: 6rem;
    }
  }

&:hover button {
  opacity: 1;
}

  &:hover .title svg {
    opacity: .8;
  }
}